* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    }

body {
    background-color: #222;
    }

.project_arrangement {
    max-width: 800px;
    margin: auto;
    }

.hshld_mother {
    max-width: 300px;
    float: right;
    margin-bottom: 10px;
    }

.hshld_sister {
    max-width: 300px;
    float: right;
    clear: right;
    }